.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
        margin: 20px 30px; /* Reduce margin */
        padding: 5px 10px; /* Adjust padding */
        height: 50px; /* Decrease navbar height */
    
    
}
.navbar img:first-child {
    width: 350px;  /* Adjust the size */
    height: auto;  /* Maintain aspect ratio */
}


.nav-menu{
    display: flex;
     align-items: center;
     list-style: none;
     gap: 40px;
     font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg,  #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect a {
    text-decoration: none;
    color: white; /* Ensure text remains visible */
    display: block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.nav-connect a:hover {
    transform: scale(1.05);
}


.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
display: none;
}
@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close {
        display: block !important;
        width: 38px !important;        /* Increase width */
        height: 38px !important;       /* Increase height */
        object-fit: contain;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 3;
      }
      
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items:start;
        padding-top: 10px;
        top: 0;
        gap: 32px;
        background-color: #1F0016;
        width: 320px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: 0px;
    }
    .nav-menu li{
        font-size: 35px;
        padding-left: 20px;
        flex-direction: row;
        gap: 20px;
    }
}